body,html{
  margin:  0;
  padding: 0;
}

header{
  height: 45px;
  background-color: #282828;
}

h1{
  position:  absolute;
  padding: auto;
  float: left;
  margin-left: 1%;
  margin-top: 4px;
  font-family: 'Bahnschrift SemiBold';
  color: #39ca74;
}

h2{
  text-align: center;
  margin-top: 20px;
  font-family: 'Bahnschrift SemiBold';
  color: white;
}

h3{
  text-align: center;
  font-family: 'Bahnschrift SemiBold';
  font-size: 50px;
}

h4{
  font-family: 'Bahnschrift SemiBold';
  color: white;
  font-size: 30px;
}

span{
  color: #ffffff;
}

ul{
  margin-top: 0px;
  text-align: center;
}

.navbuttons{
  padding-top: 3.7px;
}

li{
  display: inline-block;
  text-align: center;
  padding: 5px 30px;
  background-color: #39ca74;;
}

a{
  text-align: center;
  color: $ffffff;
  text-decoration: none;
  font-family: 'Bahnschrift SemiBold';
  font-size: 20px;

}

a:hover{
  color: #f0c330;
}

.card{
  background-color: #282828;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  max-width: 700px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.cardtitle{
  float: right;
  margin-right: 20px;
  height: 100%;
  width: 40%;
  color: white;
}

.card-description{
  font-family: 'Bahnschrift SemiBold';
  font-size: 16px;
  padding-right: 8%;
  padding-left: 8%;
}

.scraper-image{
  height: 300px;
}

.website-preview-image{
  height: 200px;
  padding-top: 50px;
}

.backgroundphoto{
  width: 100%;
  display: block;
}

.image-container{
  background-image: url("photos/websitebackground.png");
  height: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.inner-container{
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.about-text{
  padding-right: 20%;
  padding-left: 20%;
  font-family: 'Bahnschrift SemiBold';
  font-size: 18px;
}

